In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('Bondora_raw.csv')

In [3]:
df.head()

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+

In [4]:
df.shape

(134529, 112)

In [5]:
((df.isnull().sum()/df.shape[0])*100).sort_values(ascending=False)

Rating_V0                   96.603706
EL_V0                       96.603706
CreditScoreEsEquifaxRisk    90.917200
Rating_V1                   90.394636
EL_V1                       90.394636
                              ...
ApplicationSignedHour        0.000000
MaturityDate_Last            0.000000
MaturityDate_Original        0.000000
FirstPaymentDate             0.000000
ReportAsOfEOD                0.000000
Length: 112, dtype: float64

In [6]:
col_miss=df.columns[100*(df.isnull().sum()/df.shape[0]) > 40]

In [7]:
col_miss=col_miss.to_list()

In [8]:
bondora = df.drop(col_miss, axis=1)

In [9]:
bondora.shape

(134529, 76)

In [10]:
bondora['ReportAsOfEOD'].head()

0    2020-01-27
1    2020-01-27
2    2020-01-27
3    2020-01-27
4    2020-01-27
Name: ReportAsOfEOD, dtype: object

In [11]:
bondora['ReportAsOfEOD'].unique()

array(['2020-01-27'], dtype=object)

In [12]:
bondora=bondora.drop(columns=['ReportAsOfEOD','LoanId','LoanNumber','UserName','DateOfBirth'],axis=1)

VerificationType:Method used for loan application data verification 0 Not set 1 Income unverified 2 Income unverified, cross-referenced by phone 3 Income verified 4 Income and expenses verified

In [16]:
bondora.loc[df['VerificationType']==0.0,'VerificationType'] = 'Not_set'
bondora.loc[df['VerificationType']==1.0,'VerificationType'] = 'Income_unverified'
bondora.loc[df['VerificationType']==2.0,'VerificationType'] = 'Income_unverified_crossref_phone'
bondora.loc[df['VerificationType']==3.0,'VerificationType'] = 'Income_verified'
bondora.loc[df['VerificationType']==4.0,'VerificationType'] = 'Income_expenses_verified'

In [17]:
bondora.VerificationType.value_counts()

Income_expenses_verified            41428
Income_unverified                   25626
Income_verified                      8460
Income_unverified_crossref_phone     1827
Not_set                                 8
Name: VerificationType, dtype: int64

Gender	0 Male 1 Woman 2 Undefined

In [18]:
bondora.loc[df['Gender']==0.0,'Gender'] = 'male'
bondora.loc[df['Gender']==1.0,'Gender'] = 'woman'
bondora.loc[df['Gender']==2.0,'Gender'] = 'undefined'

In [19]:
bondora.Gender.value_counts()

male         50697
woman        20927
undefined     5725
Name: Gender, dtype: int64

LanguageCode	1 Estonian 2 English 3 Russian 4 Finnish 5 German 6 Spanish 9 Slovakian

In [20]:
bondora.loc[df['LanguageCode']==1.0,'LanguageCode'] = 'Estonian'
bondora.loc[df['LanguageCode']==2.0,'LanguageCode'] = 'English'
bondora.loc[df['LanguageCode']==3.0,'LanguageCode'] = 'Russian'
bondora.loc[df['LanguageCode']==4.0,'LanguageCode'] = 'Finnish'
bondora.loc[df['LanguageCode']==5.0,'LanguageCode'] = 'German'
bondora.loc[df['LanguageCode']==6.0,'LanguageCode'] = 'Spanish'
bondora.loc[df['LanguageCode']==9.0,'LanguageCode'] = 'Slovakian'

In [21]:
bondora.LanguageCode.value_counts()

Estonian     33239
Finnish      20302
Spanish      16407
Russian       6534
English        603
Slovakian      293
22               6
German           5
7                1
10               1
13               1
15               1
21               1
Name: LanguageCode, dtype: int64

In [26]:
bondora.loc[df['LanguageCode']==22.0,'LanguageCode'] = 'unknown'
bondora.loc[df['LanguageCode']==7.0,'LanguageCode'] = 'unknown'
bondora.loc[df['LanguageCode']==10.0,'LanguageCode'] = 'unknown'
bondora.loc[df['LanguageCode']==13.0,'LanguageCode'] = 'unknown'
bondora.loc[df['LanguageCode']==15.0,'LanguageCode'] = 'unknown'
bondora.loc[df['LanguageCode']==21.0,'LanguageCode'] = 'unknown'

In [27]:
bondora.LanguageCode.value_counts()

Estonian     33239
Finnish      20302
Spanish      16407
Russian       6534
English        603
Slovakian      293
unknown         11
German           5
Name: LanguageCode, dtype: int64

UseOfLoan	0 Loan consolidation 1 Real estate 2 Home improvement 3 Business 4 Education 5 Travel 6 Vehicle 7 Other 8 Health 101 Working capital financing 102 Purchase of machinery equipment 103 Renovation of real estate 104 Accounts receivable financing 105 Acquisition of means of transport 106 Construction finance 107 Acquisition of stocks 108 Acquisition of real estate 109 Guaranteeing obligation 110 Other business All codes in format 1XX are for business loans that are not supported since October 2012

In [28]:
bondora.loc[df['UseOfLoan']==0,'UseOfLoan'] = 'Loan_consolidation'
bondora.loc[df['UseOfLoan']==1,'UseOfLoan'] = 'Real_estate'
bondora.loc[df['UseOfLoan']==2,'UseOfLoan'] = 'Home_improvement'
bondora.loc[df['UseOfLoan']==3,'UseOfLoan'] = 'Business'
bondora.loc[df['UseOfLoan']==4,'UseOfLoan'] = 'Education'
bondora.loc[df['UseOfLoan']==5,'UseOfLoan'] = 'Travel'
bondora.loc[df['UseOfLoan']==6,'UseOfLoan'] = 'Vehicle'
bondora.loc[df['UseOfLoan']==7,'UseOfLoan'] = 'Other'
bondora.loc[df['UseOfLoan']==8,'UseOfLoan'] = 'Health'
bondora.loc[df['UseOfLoan']==101,'UseOfLoan'] = 'Working_capital_financing'
bondora.loc[df['UseOfLoan']==102,'UseOfLoan'] = 'Purchase_of_machinery_equipment'
bondora.loc[df['UseOfLoan']==104,'UseOfLoan'] = 'Accounts_receivable_financing'
bondora.loc[df['UseOfLoan']==106,'UseOfLoan'] = 'Construction_finance'
bondora.loc[df['UseOfLoan']==107,'UseOfLoan'] = 'Acquisition_of_stocks'
bondora.loc[df['UseOfLoan']==108,'UseOfLoan'] = 'Acquisition_of_real_estate'
bondora.loc[df['UseOfLoan']==110,'UseOfLoan'] = 'Other_business'

In [29]:
bondora.UseOfLoan.value_counts()

-1                                 44177
Other                               8926
Home_improvement                    8102
Loan_consolidation                  6419
Vehicle                             2884
Business                            1743
Travel                              1621
Health                              1367
Education                           1259
Real_estate                          843
Purchase_of_machinery_equipment       21
Other_business                        17
Accounts_receivable_financing          6
Working_capital_financing              5
Acquisition_of_stocks                  2
Acquisition_of_real_estate             1
Construction_finance                   1
Name: UseOfLoan, dtype: int64

In [30]:
bondora.loc[df['UseOfLoan']==-1,'UseOfLoan'] = 'unknown'

In [31]:
bondora.UseOfLoan.value_counts()

unknown                            44177
Other                               8926
Home_improvement                    8102
Loan_consolidation                  6419
Vehicle                             2884
Business                            1743
Travel                              1621
Health                              1367
Education                           1259
Real_estate                          843
Purchase_of_machinery_equipment       21
Other_business                        17
Accounts_receivable_financing          6
Working_capital_financing              5
Acquisition_of_stocks                  2
Acquisition_of_real_estate             1
Construction_finance                   1
Name: UseOfLoan, dtype: int64

Education	1 Primary education 2 Basic education 3 Vocational education 4 Secondary education 5 Higher education

In [33]:
bondora.loc[df['Education']==1,'Education'] = 'Primary'
bondora.loc[df['Education']==2,'Education'] = 'Basic'
bondora.loc[df['Education']==3,'Education'] = 'Vocational'
bondora.loc[df['Education']==4,'Education'] = 'Secondary'
bondora.loc[df['Education']==5,'Education'] = 'Higher'

In [34]:
bondora.Education.value_counts()

Secondary             28557
Higher                20919
Vocational            17257
Basic                  5379
Primary                5226
Loan_consolidation        8
-1.0                      3
Name: Education, dtype: int64

In [35]:
bondora.loc[df['Education']==-1,'Education'] = 'unknown'

In [36]:
bondora.Education.value_counts()

Secondary             28557
Higher                20919
Vocational            17257
Basic                  5379
Primary                5226
Loan_consolidation        8
unknown                   3
Name: Education, dtype: int64

MaritalStatus	1 Married 2 Cohabitant 3 Single 4 Divorced 5 Widow

In [37]:
bondora.MaritalStatus.value_counts()

-1.0    44177
 3.0    11504
 1.0     9585
 2.0     8479
 4.0     3077
 5.0      519
 0.0        8
Name: MaritalStatus, dtype: int64

In [39]:
bondora.loc[df['MaritalStatus']==-1,'MaritalStatus'] = 'unknown'
bondora.loc[df['MaritalStatus']==0,'MaritalStatus'] = 'unknown'
bondora.loc[df['MaritalStatus']==1,'MaritalStatus'] = 'Married'
bondora.loc[df['MaritalStatus']==2,'MaritalStatus'] = 'Cohabitant'
bondora.loc[df['MaritalStatus']==3,'MaritalStatus'] = 'Single'
bondora.loc[df['MaritalStatus']==4,'MaritalStatus'] = 'Divorced'
bondora.loc[df['MaritalStatus']==5,'MaritalStatus'] = 'Widow'

EmploymentStatus	1 Unemployed 2 Partially employed 3 Fully employed 4 Self-employed 5 Entrepreneur 6 Retiree

In [40]:
bondora.EmploymentStatus.value_counts()

-1.0    44177
 3.0    27309
 5.0     1695
 6.0     1663
 4.0     1211
 2.0     1110
 0.0       32
Name: EmploymentStatus, dtype: int64

In [41]:
bondora.loc[df['EmploymentStatus']==-1,'EmploymentStatus'] = 'unknown'
bondora.loc[df['EmploymentStatus']==0,'EmploymentStatus'] = 'unknown'
bondora.loc[df['EmploymentStatus']==1,'EmploymentStatus'] = 'Unemployed'
bondora.loc[df['EmploymentStatus']==2,'EmploymentStatus'] = 'Partially'
bondora.loc[df['EmploymentStatus']==3,'EmploymentStatus'] = 'Fully'
bondora.loc[df['EmploymentStatus']==4,'EmploymentStatus'] = 'Self_employed'
bondora.loc[df['EmploymentStatus']==5,'EmploymentStatus'] = 'Entrepreneur'
bondora.loc[df['EmploymentStatus']==6,'EmploymentStatus'] = 'Retiree'

NewCreditCustomer	Did the customer have prior credit history in Bondora 0 Customer had at least 3 months of credit history in Bondora 1 No prior credit history in Bondora

OccupationArea	1 Other 2 Mining 3 Processing 4 Energy 5 Utilities 6 Construction 7 Retail and wholesale 8 Transport and warehousing 9 Hospitality and catering 10 Info and telecom 11 Finance and insurance 12 Real-estate 13 Research 14 Administrative 15 Civil service & military 16 Education 17 Healthcare and social help 18 Art and entertainment 19 Agriculture, forestry and fishing

In [43]:
bondora.OccupationArea.value_counts()

-1.0     44228
 1.0      7640
 7.0      3207
 6.0      3007
 3.0      2876
 8.0      2276
 17.0     2186
 9.0      2106
 10.0     1782
 15.0     1555
 16.0     1251
 11.0     1054
 19.0      893
 14.0      798
 4.0       530
 18.0      524
 13.0      493
 12.0      433
 5.0       342
 2.0       116
 0.0        11
Name: OccupationArea, dtype: int64

In [44]:
bondora.loc[df['OccupationArea']==-1,'OccupationArea'] = 'unknown'
bondora.loc[df['OccupationArea']==0,'OccupationArea'] = 'unknown'
bondora.loc[df['OccupationArea']==1,'OccupationArea'] = 'Other'
bondora.loc[df['OccupationArea']==2,'OccupationArea'] = 'Mining'
bondora.loc[df['OccupationArea']==3,'OccupationArea'] = 'Processing'
bondora.loc[df['OccupationArea']==4,'OccupationArea'] = 'Energy'
bondora.loc[df['OccupationArea']==5,'OccupationArea'] = 'Utilities'
bondora.loc[df['OccupationArea']==6,'OccupationArea'] = 'Construction'
bondora.loc[df['OccupationArea']==7,'OccupationArea'] = 'Retail_and_wholesale'
bondora.loc[df['OccupationArea']==8,'OccupationArea'] = 'Transport_and_warehousing'
bondora.loc[df['OccupationArea']==9,'OccupationArea'] = 'Hospitality_and_catering'
bondora.loc[df['OccupationArea']==10,'OccupationArea'] = 'Info_and_telecom'
bondora.loc[df['OccupationArea']==11,'OccupationArea'] = 'Finance_and_insurance'
bondora.loc[df['OccupationArea']==12,'OccupationArea'] = 'Real_estate'
bondora.loc[df['OccupationArea']==13,'OccupationArea'] = 'Research'
bondora.loc[df['OccupationArea']==14,'OccupationArea'] = 'Administrative'
bondora.loc[df['OccupationArea']==15,'OccupationArea'] = 'Civil_service_and_military'
bondora.loc[df['OccupationArea']==16,'OccupationArea'] = 'Education'
bondora.loc[df['OccupationArea']==17,'OccupationArea'] = 'Healthcare_and_social_help'
bondora.loc[df['OccupationArea']==18,'OccupationArea'] = 'Art_and_entertainment'
bondora.loc[df['OccupationArea']==19,'OccupationArea'] = 'Agriculture_forestry_and_fishing'

HomeOwnershipType	0 Homeless 1 Owner 2 Living with parents 3 Tenant, pre-furnished property 4 Tenant, unfurnished property 5 Council house 6 Joint tenant 7 Joint ownership 8 Mortgage 9 Owner with encumbrance 10 Other

In [46]:
bondora.HomeOwnershipType.value_counts()

 1.0     24594
 3.0     16842
 2.0     12776
 8.0      8762
 4.0      4031
 10.0     3179
 7.0      2701
 6.0      1362
 5.0       882
 9.0       565
 0.0        46
-1.0         2
Name: HomeOwnershipType, dtype: int64

In [47]:
bondora.loc[df['HomeOwnershipType']==-1,'HomeOwnershipType'] = 'unknown'
bondora.loc[df['HomeOwnershipType']==0,'HomeOwnershipType'] = 'Homeless'
bondora.loc[df['HomeOwnershipType']==1,'HomeOwnershipType'] = 'Owner'
bondora.loc[df['HomeOwnershipType']==2,'HomeOwnershipType'] = 'Living_with_parents'
bondora.loc[df['HomeOwnershipType']==3,'HomeOwnershipType'] = 'Tenant_pre_furnished_property'
bondora.loc[df['HomeOwnershipType']==4,'HomeOwnershipType'] = 'Tenant_unfurnished_property'
bondora.loc[df['HomeOwnershipType']==5,'HomeOwnershipType'] = 'Council_house'
bondora.loc[df['HomeOwnershipType']==6,'HomeOwnershipType'] = 'Joint_tenant'
bondora.loc[df['HomeOwnershipType']==7,'HomeOwnershipType'] = 'Joint_ownership'
bondora.loc[df['HomeOwnershipType']==8,'HomeOwnershipType'] = 'Mortgage'
bondora.loc[df['HomeOwnershipType']==9,'HomeOwnershipType'] = 'Owner_with_encumbrance'
bondora.loc[df['HomeOwnershipType']==10,'HomeOwnershipType'] = 'Other'

In [ ]:
bondora.Status.value_counts()

In [ ]:
bondora = bondora[bondora['Status'] != 'Current']
bondora["default"] = bondora['Status'].apply(lambda x: 0 if x=='Repaid' else 1)

In [ ]:
bondora = bondora.drop(['Status'],axis=1)